body {
    padding: 15px;
    background-image: url('bg.gif');
}

#wobble {
    font-size: 20pt;
    font-weight: bold;
}
p {
    font-size: 16pt;
}

li {
    font-size: 16pt;
    padding: 10px 0;
}

/* a {
    color: #ff3333;
}

a:visited {
    color: #ff6666;
} */

#haxe-output {
    width: 50%;
    height: auto;
    min-height: 100px;
    border: 1px solid #000;
}

textarea {
    resize: none;
}