body {
    padding: 15px;
    background-image: url('bg.gif');
}

#wobble {
    font-size: 20pt;
    font-weight: bold;
}
p {
    font-size: 16pt;
}

li {
    font-size: 16pt;
}

a {
    color: #555;
}

a:visited {
    color: #777;
}