body {
    padding: 15px;
    background-image: url('bg.gif');
}

#wobble {
    font-size: 20pt;
    font-weight: bold;
}
p {
    font-size: 16pt;
}

li {
    font-size: 16pt;
    padding: 10px 0;
}

textarea {
    resize: none;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar li {
    display: inline;
    text-align: center;
    white-space: nowrap;
}

#navbar li + li::before {
    content: " | ";

}

#navbar li a {
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

/* yay consistency */
a, a:visited { 
    color:blue;
}

.date {
    margin:0;
    font-size: medium;
    font-weight: bold;
    align-self: flex-end;
    text-align: right;
}

article {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}